@import url('https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.18.0.min.css?ver=4.18.0');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');

.footer {
  background: #171717;
  color: #ebebeb;
  font-family: 'Montserrat';
}

/* Social icons */

.btn-icon {
  box-shadow: none;
}

.btn-icon:hover {
  box-shadow: none;
}

.btn-icon i {
  margin-top: -1px;
  margin-left: -1px;
  color: #9b9b9b;
}

.btn-icon:hover i {
  color: #ebebeb;
}

/* Buttons */

.btn-rounded {
  border-radius: .5rem;
}

.footer.footer.page-footer a.btn {
  font-weight: 500;
  font-size: .9rem;
}

/* Menu columns */

.footer h5 {
  color: #ebebeb;
}

.desc,
.footer h6 a {
  color: #989898;
}

footer.footer.page-footer h6 a:hover {
  color: white;
}

/* Mobile App Buttons */

.footer .btn-outline-white.btn-dark {
  opacity: .4
}

.footer .btn-outline-white.btn-dark:hover {
  opacity: 1
}

.footer .footer-cta {
  background-color: #242424 !important;
}

/* Logo Area */

.logo-area {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .logo-area {
    justify-content: center;
  }
}

.logo-area img {
  width: 50px;
  height: 42px;
}

.logo-area h5 {
  color: white;
}

/* Navbar */

.navbar .navbar-brand img {
  height: 42px;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #171717;
  }
}

.bg-nav.top-nav-collapse {
  background-color: #171717;
}

@media (max-width: 992px) {
  .navbar {
    position: fixed;
  }
}
